_ignore/*
.ipynb_checkpoints/*
data/nyc-health-daily-updates/cases/.ipynb_checkpoints/*
images/.ipynb_checkpoints/*
notebooks/_ignore/*
notebooks/.ipynb_checkpoints/*
data/nyc-health-github/.ipynb_checkpoints/*
